*{
    margin: 0%;
    padding: 0%;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
.btn-color{
    background-color:#453C3C;
    color: white;
    border-radius: 35px;
    border: none;
    transition: 0.9s;
} 
 .btn-color:hover{
    background-color: #EB2323;
 }
 .basic-1 {
    background: 
        linear-gradient(currentColor 0 0) 
        0 100% /var(--d, 0) 3px 
      no-repeat;
    transition:0.5s;
    padding-top: 10px;
  }
  .basic-1:hover {
    --d: 100%;
    
  }
  